<!DOCTYPE html>
<html lang="es">

<head>
    <title>FoodMap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web app">
    <meta name="keywords" content="FoodMap, comida, buscar">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/queries.css">
    <link rel="shortcut icon" href="../images/favicon.png">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="../images/logo.png" alt="Logo" class="img-fluid img-size">
            </div>
            <div class="offset-md-2 col-md-8 col-sm-12 text-center mt-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <div class="input-group-append">
                        <button class="btn btn-red" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 my-4">
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuz9gLAStcBB3YUGbBJdAuO8R8DH2quYs&v=3&callback=currentPosition"></script>
   
</body>

</html>