/** Vista principal, index.html **/
.h-100v{
    height: 100vh;
}

/** Vista menu, main.html **/
.img-size{
    width: 20%;
}


.btn-red{
    background-color: #a90722;
    color: #fff;
}

.btn-red:hover{
    background-color: #5a0413;
    color: #fff;
}